.ff-c {
    font-family: 'Comfortaa', cursive;
}

.social-icon {
    &--fb {
        &:hover {
            color: #3b5998; 
        }
    }
    &--vk {
        &:hover {
            color: #4a75a8; 
        }
    }
    &--ok {
        &:hover {
            color: #f5821f; 
        }
    }
    &--telegram {
        &:hover {
            color: #0088cc;
        }
    }
    &--instagram {
        &:hover {
            color: #e54d59;
        }
    }
}