* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
button,
textarea {
    border-radius: 0px;
    outline: none;
}

input[type="text"],
input[type="email"],
button,
textarea {
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}