.input {
    &__field {
        width: 100%;
        border: 1px solid #25579f;
        border-radius: 6px;
        padding: 15px;
        position: relative;
        z-index: 1;
        transition: .25s ease;
        &::-webkit-input-placeholder {
            transition: .25s ease;
        }
        &::-moz-placeholder {
            transition: .25s ease;
        }
        &:-moz-placeholder {
            transition: .25s ease;
        }
        &:-ms-input-placeholder {
            transition: .25s ease;
        }
        &:focus {
            box-shadow: 0 0 0 3px $c-orange;
            border-color: $c-orange;
            &::-webkit-input-placeholder {
                opacity: 0;
            }
            &::-moz-placeholder {
                opacity: 0;
            }
            &:-moz-placeholder {
                opacity: 0;
            }
            &:-ms-input-placeholder {
                opacity: 0;
            }
        }
    }
}

.textarea {
    &__field {
        width: 100%;
        border: 1px solid #25579f;
        border-radius: 6px;
        padding: 15px;
        position: relative;
        z-index: 1;
        transition: .25s ease;
        resize: none;
        min-height: 150px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        &::-webkit-input-placeholder {
            transition: .25s ease;
        }
        &::-moz-placeholder {
            transition: .25s ease;
        }
        &:-moz-placeholder {
            transition: .25s ease;
        }
        &:-ms-input-placeholder {
            transition: .25s ease;
        }
        &:focus {
            box-shadow: 0 0 0 3px $c-orange;
            border-color: $c-orange;
            &::-webkit-input-placeholder {
                opacity: 0;
            }
            &::-moz-placeholder {
                opacity: 0;
            }
            &:-moz-placeholder {
                opacity: 0;
            }
            &:-ms-input-placeholder {
                opacity: 0;
            }
        }
    }
}